<div class="trade-container">

  <section class="trade-side">

    <h2>{{actorA.name}}</h2>

    <div class="inventory">

      {{#each itemsA}}

      <div class="item" data-id="{{this.id}}" data-side="A">

        <img src="{{this.img}}" width="24" height="24">
        {{this.name}}

      </div>

      {{/each}}

    </div>

    <div class="gold">

      Gold:
      <input class="gold-a" type="number" value="{{goldA}}" min="0">

    </div>

    <button class="accept-a">Accept</button>

  </section>


  <section class="trade-side">

    <h2>{{actorB.name}}</h2>

    <div class="inventory">

      {{#each itemsB}}

      <div class="item" data-id="{{this.id}}" data-side="B">

        <img src="{{this.img}}" width="24" height="24">
        {{this.name}}

      </div>

      {{/each}}

    </div>

    <div class="gold">

      Gold:
      <input class="gold-b" type="number" value="{{goldB}}" min="0">

    </div>

    <button class="accept-b">Accept</button>

  </section>

  <div class="trade-controls">

    <button class="cancel">Cancel</button>

  </div>

</div>
